<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="58514Seungmin.AtHere" Publisher="CN=5F5145DF-4FDD-41CD-9C55-BEE4732A445B" Version="1.1.0.0" />
  <Properties>
    <DisplayName>At Here</DisplayName>
    <PublisherDisplayName>Pin the Cloud</PublisherDisplayName>
    <Logo>Assets\pajeon\icon_splash\appicon50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PintheCloudWS.App">
      <m2:VisualElements DisplayName="At Here" Square150x150Logo="Assets\pajeon\icon_splash\appicon150.png" Square30x30Logo="Assets\pajeon\icon_splash\appicon30.png" Description="At Here helps sharing information with people around you in instant meetings." ForegroundText="light" BackgroundColor="#00A4BF">
        <m2:DefaultTile Square310x310Logo="Assets\pajeon\icon_splash\appicon.png" Wide310x150Logo="Assets\pajeon\icon_splash\appicon_wide.png" ShortName="At Here">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\pajeon\icon_splash\splash.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>