<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.8.1" targetFramework="win81" />
  <package id="Google.Apis.Auth" version="1.8.1" targetFramework="win81" />
  <package id="Google.Apis.Core" version="1.8.1" targetFramework="win81" />
  <package id="Google.Apis.Drive.v2" version="1.8.1.1210" targetFramework="win81" />
  <package id="LiveSDK" version="5.6" targetFramework="win81" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="win81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="win81" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="win81" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="win81" />
  <package id="System.Spatial" version="5.6.1" targetFramework="win81" />
  <package id="WindowsAzure.MobileServices" version="1.2.1" targetFramework="win81" />
  <package id="WindowsAzure.Storage-Preview" version="3.1.0.1-preview" targetFramework="win81" />
  <package id="Zlib.Portable" version="1.9.2" targetFramework="win81" />
</packages>